.artist-page-banner {
    filter: invert(1);
    width: 100%;
}

.artist-page-banner-wrapper {
    border-bottom: 1px solid var(--black);
    display: flex;
}

.artist-page-error-message {
    font-family: var(--sans-serif);
    font-size: var(--small-font);
}