.home-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-page-banner {
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
    width: 100%;
}

.home-page-banner-grid {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 50%;
}

.home-page-banner-links {
    display: flex;
    gap: 2rem;
}

.home-page-banner-img {
    width: 250px;
}

.home-page-grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 4rem auto;
    padding: 0 2rem;
  }