.home-page-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-page-section-heading {
    font-family: var(--sans-serif);
    font-size: var(--huge-font);
    text-align: center;
    text-transform: uppercase;
}