.sort-selector-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 4rem 0;
    position: relative;
}

.sort-selector {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: var(--black);
    font-family: var(--sans-serif);
    font-weight: 300;
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem .25rem .5rem .5rem;
    text-transform: uppercase;
    width: 235px;
}

.sort-selector:focus {
    outline: 1px solid var(--black);
}

.sort-selector:hover,
.sort-selector option:hover {
    cursor: pointer;
}

.sort-selector-arrow {
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: -1;
}