.terms-and-conditions-page {
    font-family: var(--sans-serif);
    font-size: 1rem;
    margin: 2rem 2rem 4rem 2rem;
    max-width: 1000px;
    width: 100%;
}

.terms-and-conditions-heading-1,
.terms-and-conditions-heading-2 {
    font-weight: 500;
}

.terms-and-conditions-heading-1 {
    font-size: var(--huge-font);
}

.terms-and-conditions-heading-2 {
    font-size: var(--big-font);   
}

.terms-and-conditions-address > * {
    display: block;
}

.terms-and-conditions-co-name {
    text-transform: uppercase;
}