.cart-page {
    flex: 1 0 100%;
    font-family: var(--sans-serif);
    margin: 2rem 2rem 4rem 2rem;
    max-width: 1000px;
}

.cart-page-heading {
    font-size: var(--huge-font);
    font-weight: 500;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
}

.cart-page-empty {
    text-align: center;
}

.cart-page-empty-message {
    font-family: var(--sans-serif);
    font-size: var(--small-font);
}