.menu-button {
    background: none;
    border: none;
    margin: 0;
    padding: 0 0 0 1rem;
}

.menu-button:hover {
    cursor: pointer;
}

@media (min-width: 700px) {
    .menu-button {
        display: none
    }
}