.site-footer {
    border-top: 1px solid var(--black);
    display: flex;
    justify-content: center;
    font-family: var(--sans-serif);
    width: 100%;
}

.site-footer-wrapper {
    display: grid;
    grid-template-areas: 
    "logo"
    "text"
    "socials";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    padding: 2rem;
    row-gap: 1.5rem;
    width: 1000px;
}

.site-footer-logo {
    color: var(--black);
    font-family: var(--display-font);
    font-size: 6rem;
    font-style: italic;
    grid-area: logo;
    line-height: .8;
}

.site-footer-socials {
    align-items: center;
    display: grid;
    grid-area: socials;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto auto;
    width: min-content;
}

.site-footer-logo,
.site-footer-socials {
    justify-self: center;
}

.site-footer-social-link {
    display: flex;
}

.site-footer-sections {
    display: grid;
    grid-area: text;
    row-gap: 1rem;
}

.site-footer-heading {
    font-size: var(--small-font);
    font-weight: 500;
    text-transform: uppercase;
}

.site-footer-heading-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.site-footer-heading-wrapper:hover,
.site-footer-heading-wrapper:focus-visible {
    color: var(--accent);
}

.site-footer-heading-wrapper:hover{
    cursor: pointer;
}

.site-footer-heading-wrapper:focus-visible {
    outline: none;
}

.site-footer-info-links,
.site-footer-shipping,
.site-footer-contact {
    margin: .5rem;
}

.site-footer-info-links {
    display: grid;
    row-gap: .5rem;
}

.site-footer-info-links a:hover,
.site-footer-contact a:hover,
.site-footer-social-link:hover,
.site-footer-logo:hover {
    color: var(--accent);
}

.site-footer-contact a {
    text-decoration: underline;
}

@media (min-width: 800px) {
    .site-footer-wrapper {
        align-items: start;
        column-gap: 2rem;
        grid-template-areas: 
        "logo text text text text"
        "socials text text text text";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        row-gap: .5rem;
    }

    .site-footer-sections {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        width: 75%;
    }

    .site-footer-logo,
    .site-footer-socials {
        justify-self: start;
    }

    .site-footer-heading-wrapper:hover {
        color: var(--black);
        cursor: unset;
    }

    .site-footer-contact,
    .site-footer-shipping,
    .site-footer-info-links {
        margin: 0;
    }

    .site-footer-info-links {
        row-gap: 0;
    }
}