.site-header {
    border-bottom: 1px solid var(--black);
    position: relative;
    width: 100%;
}

.site-header-logo {
    color: var(--black);
    font-family: var(--display-font);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

.site-header-svg {
    color: var(--black);
    height: 30px;
    width: 30px;
}

.site-header-main {
    align-items: center;
    display: flex;
    height: 55px;
    justify-content: space-between;
    padding: 0 1rem;
}