@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* VARIABLES */
:root {
  /* COLORS */
  --black: rgb(40, 40, 40);

  /* FONTS */
  --display-font: 'EB Garamond', serif; 
  --sans-serif: 'Open Sans', sans-serif;

  /* FONT SIZES*/
  --huge-font: 2.5rem;
  --big-font: 1.75rem;
  --medium-font: 1rem;
}

/* GLOBAL */
body {
  color: var(--black);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

/* UTILITY CLASSES */
.container {
  max-width: 1000px;
}

.button {
  background: none;
  border: 1px solid white;
  color: white;
  font-family: var(--sans-serif);
  font-size: var(--medium-font);
  font-weight: 400;
  padding: .5rem;
  white-space: nowrap;
}

.button:hover {
  background-color: red;
  cursor: pointer;
}

.button-black {
  border: 1px solid var(--black);
  color: var(--black);
}

.button-black:hover,
.button-black-selected {
  background: var(--black);
  color: white;
}

.heading-small {
  font-family:var(--sans-serif);
  font-size: var(--medium-font);
  font-weight: bold;
}

.flipped {
  transform: rotate(180deg) translateX(-8px);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}