@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* VARIABLES */
:root {
  /* COLORS */
  --black: rgb(40, 40, 40);

  /* FONTS */
  --display-font: 'EB Garamond', serif; 
  --sans-serif: 'Open Sans', sans-serif;

  /* FONT SIZES*/
  --huge-font: 4rem;
  --medium-font: 1.1rem;
}

/* GLOBAL */
body {
  color: var(--black);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* UTILITY CLASSES */
.page-title {
  font-size: var(--huge-font);
  font-family: var(--display-font);
  margin: 3rem;
  text-align: left;
}
