.checkout-form {
    gap: 2rem;
}

.checkout-form-section {
    gap: 1rem;
}

.checkout-form,
.checkout-form-section {
    display: flex;
    flex-direction: column;
}

.checkout-form-name-wrapper {
    grid-template-columns: 1fr 1fr;
}

.checkout-form-location-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
}
.checkout-form-location-wrapper,
.checkout-form-name-wrapper {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
}

.checkout-form-location-wrapper > *,
.checkout-form-name-wrapper > * {
    width: 100%;
}

.checkout-form-heading {
    font-family: var(--sans-serif);
    font-size: 1.25rem;
    font-weight: 500;
}

.checkout-form select,
.checkout-form input {
    font-size: 1rem;
}

.checkout-form-button {

}