/* UTIL CLASSES FOR CHECKOUT FORMS */
.form,
.form-section {
    display: flex;
    flex-direction: column;
}

.form {
    font-family: var(--sans-serif);
    gap: 2rem;
}

.form-section {
    gap: 1rem;
}

.form-heading {
    font-family: var(--sans-serif);
    font-size: 1.25rem;
    font-weight: 500;
}

.form-input {
    border: 1px solid var(--black);
    line-height: 1.15;
    padding: 1rem;
    width: 100%;
}

.form-select,
.form-input {
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: 300;
}


.form-input:focus-visible {
    border: 1px solid var(--accent);
    outline: none;
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--sans-serif);
    width: 100%;
}

.form-input-error {
    border: 1px solid red;
}

.form-error {
    color: red;
    line-height: 1;
    margin-top: .25rem;
}

.form-option {
    font-weight: 300;
}

.form-label {
    line-height: 1;
    margin-bottom: .5rem;
}