.order-summary {
    display: grid;
    font-family: var(--sans-serif);
    grid-gap: 2rem;
}

.order-summary-heading {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: .9;
}

.order-summary-heading-wrapper {
    align-items: center;
    display: flex;
}

.order-summary-heading-wrapper .menu-chevron {
    transform: translateY(1.5px);
}

.order-summary-dropdown-heading {
    display: flex;
    justify-content: space-between;
}

.order-summary-dropdown-heading:hover {
    cursor: pointer;
}

.order-summary-items {
    display: grid;
    grid-gap: 1rem;
}

.order-summary-subtotal,
.order-summary-shipping-cost,
.order-summary-total-value {
    display: flex;
    justify-content: space-between;
}

.order-summary-total-label {
    font-weight: 500;;
    text-transform: uppercase;
}

.order-summary-numbers {
    display: grid;
    grid-gap: .5rem;
}