.shipping-address-form {
    gap: 2rem;
}

.shipping-address-form-section {
    gap: 1rem;
}

.shipping-address-form,
.shipping-address-form-section {
    display: flex;
    flex-direction: column;
}

.shipping-address-form-name-wrapper {
    grid-template-columns: 1fr 1fr;
}

.shipping-address-form-location-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
}
.shipping-address-form-location-wrapper,
.shipping-address-form-name-wrapper {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
}

.shipping-address-form-location-wrapper > *,
.shipping-address-form-name-wrapper > * {
    width: 100%;
}

.shipping-address-form-heading {
    font-family: var(--sans-serif);
    font-size: 1.25rem;
    font-weight: 500;
}

.shipping-address-form select,
.shipping-address-form input {
    font-size: 1rem;
}

.shipping-address-form-input {
    border: 1px solid var(--black);
    padding: .75rem;
    width: 100%;
}

.shipping-address-form-input-error {
    border: 1px solid red;
}

.shipping-address-form-input-wrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--sans-serif);
    width: 100%;
}

.shipping-address-form-error {
    color: red;
}